* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.header-container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 16px 0 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 56px;
}

.nav-submenu {
    display: none;
    border: 1px solid red;
    background-color: white;
    position: absolute;
    left: 0;
    width: 300px;
    top: 100%;
}

.nav-menu > li {
    float: left;
    list-style: none;
    padding: 16px;
    border-top: 4px solid transparent;
    position: relative;
}

.clear {
    clear: both;
}

.nav-menu li:hover .nav-submenu {
    display: block;
}

.nav-menu li:hover {
    border-color: red;
}

.nav-submenu li {
    display: block;
    padding: 8px;
}

.content-container {
    padding: 10px;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 20px;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: auto;
}

.featured-section .news-article a {
    display: block;
    font-size: 2em;
}

.featured-section .news-article img {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
}

.news-article h3 {
    font-size: 1rem;
    line-height: 1.3;
}

@media screen and (max-width: 767px) {
    .content-container {
        display: block;
    }

    .news-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .featured-section .news-article a {
        font-size: 1.5em;
    }

    .featured-section .news-article img {
        margin-right: 0;
    }

    .news-grid {
        display: block;
    }

    .news-grid .news-article {
        margin-bottom: 32px;
    }

    aside {
        padding-left: 0;
    }

    .nav-submenu {
        display: block;
        position: relative;
        border: none;
        width: 100%;
    }

    .nav-menu {
        display: none;
    }

    .nav-menu > li {
        clear: both;
    }

    .menu-button {
        display: flex;
        justify-content: center;
        margin-top: 16px;
        padding-bottom: 16px;
    }

    .menu-button button {
        padding: 8px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header-container {
        max-width: 90%;
    }

    .menu-button {
        display: none;
    }

    .featured-section .news-article a {
        font-size: 1.5em;
    }

    .news-grid {
        grid-template-columns: repeat(2, 49%);
    }
}

@media screen and (min-width: 1024px) {
    .menu-button {
        display: none;
    }
}
